- flash.each do |name, msg|
  - type = (name == "notice" ? "success" : "error")
  %div(class="alert alert-#{type}")
    %a.close(data-dismiss='alert') &#215;
    = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)